In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('mlcoe.csv')

In [4]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [5]:
df.head(99)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,NaN,Male,Skirt,Clothing,NaN,Nevada,S,Silver,Spring,NaN,y,Bank Transfer,Free Shipping,Yes,Yes,28,Credit Card,Weekly
95,96,NaN,Male,Sneakers,Footwear,NaN,Missouri,L,Pink,Fall,NaN,y,PayPal,Free Shipping,Yes,yep,48,PayPal,Monthly
96,97,NaN,Male,Gloves,Accessories,NaN,Delaware,S,Gold,Spring,3.6,Yes,Venmo,Express,Yes,yep,43,Venmo,Every 3 Months
97,98,NaN,Male,Shoes,Footwear,NaN,Virginia,M,Teal,Winter,NaN,Of course,PayPal,Store Pickup,TRUE,Yes,37,Cash,Annually
98,99,NaN,Male,Jeans,Clothing,67.0,New York,XL,Teal,Spring,NaN,Yes,Cash,Next Day Air,TRUE,Indeed,20,Bank Transfer,Annually

In [6]:
df.isnull().sum()

Customer ID                   0
Age                         631
Gender                        0
Item Purchased                0
Category                      0
Purchase Amount (USD)       615
Location                      0
Size                          0
Color                         0
Season                        0
Review Rating               654
Subscription Status           0
Payment Method                0
Shipping Type                 0
Discount Applied              0
Promo Code Used               0
Previous Purchases            0
Preferred Payment Method      0
Frequency of Purchases        0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3269 non-null   float64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3285 non-null   float64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3246 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 579.0+ KB

In [9]:
df.shape

(3900, 19)

In [10]:
df.nunique

<bound method DataFrame.nunique of       Customer ID   Age  Gender Item Purchased     Category  \
0               1   NaN    Male         Blouse     Clothing
1               2   NaN    Male        Sweater     Clothing
2               3   NaN    Male          Jeans     Clothing
3               4   NaN    Male        Sandals     Footwear
4               5   NaN    Male         Blouse     Clothing
...           ...   ...     ...            ...          ...
3895         3896  40.0  Female         Hoodie     Clothing
3896         3897  52.0  Female       Backpack  Accessories
3897         3898  46.0  Female           Belt  Accessories
3898         3899  44.0  Female          Shoes     Footwear
3899         3900  52.0  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                       NaN       Kentucky    L       Gray  Winter
1                       NaN          Maine    L     Maroon  Winter
2                       NaN  Massachusetts    S     Maroon  Spring
3                      90.0   Rhode Island    M     Maroon  Spring
4                       NaN         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                   28.0       Virginia    L  Turquoise  Summer
3896                   49.0           Iowa    L      White  Spring
3897                   33.0     New Jersey    L      Green  Spring
3898                   77.0      Minnesota    S      Brown  Summer
3899                    NaN     California    M      Beige  Spring

      Review Rating Subscription Status Payment Method   Shipping Type  \
0               NaN                 yep    Credit Card         Express
1               NaN                 Yes  Bank Transfer         Express
2               NaN                 Yes           Cash   Free Shipping
3               NaN                 Yes         PayPal    Next Day Air
4               NaN                  Yo           Cash   Free Shipping
...             ...                 ...            ...             ...
3895            4.2                  No           Cash  2-Day Shipping
3896            4.5                ille         PayPal    Store Pickup
3897            2.9                  No    Credit Card        Standard
3898            3.8                   N         PayPal         Express
3899            3.1                  No  Bank Transfer    Store Pickup

     Discount Applied Promo Code Used  Previous Purchases  \
0              Indeed               y                  14
1                 Yes              Yo                   2
2                 Yes             Yes                  23
3              Indeed              Yo                  49
4                 Yes             Yes                  31
...               ...             ...                 ...
3895               No             Nah                  32
3896               No              No                  41
3897                n              No                  24
3898            Nakko              No                  24
3899               No            Nope                  33

     Preferred Payment Method Frequency of Purchases
0                       Venmo            Fortnightly
1                        Cash            Fortnightly
2                 Credit Card                 Weekly
3                      PayPal                 Weekly
4                      PayPal               Annually
...                       ...                    ...
3895                    Venmo                 Weekly
3896            Bank Transfer              Bi-Weekly
3897                    Venmo              Quarterly
3898                    Venmo                 Weekly
3899                    Venmo              Quarterly

[3900 rows x 19 columns]>

In [11]:
df.isnull().sum().sort_values(ascending=False)

Review Rating               654
Age                         631
Purchase Amount (USD)       615
Customer ID                   0
Subscription Status           0
Preferred Payment Method      0
Previous Purchases            0
Promo Code Used               0
Discount Applied              0
Shipping Type                 0
Payment Method                0
Season                        0
Color                         0
Size                          0
Location                      0
Category                      0
Item Purchased                0
Gender                        0
Frequency of Purchases        0
dtype: int64